Source: ukui-biometric-auth
Section: admin
Priority: optional
Maintainer: yanghao <yanghao@kylinos.cn>
Build-Depends: debhelper (>= 9),
               cmake (>= 2.6),
               qtbase5-dev,
               libpam-dev,
               libpolkit-qt5-1-dev,
               qttools5-dev,
               qttools5-dev-tools,
               pkg-config
Standards-Version: 4.1.3
Homepage: http://www.github.com/ukui/ukui-biometric-auth

Package: libpam-biometric
Architecture: any
Depends: libpam-runtime, ${shlibs:Depends}, ${misc:Depends}
Suggests: biometric-auth
Description: Insertable authentication module for PAM
 The indispensable part for biometric authentication in
 ukui desktop environment.
 This package contains a modules for PAM.

Package: ukui-polkit
Architecture: any
Depends: policykit-1,
         ${shlibs:Depends},
         ${misc:Depends}
Suggests: biometric-auth
Description: UKUI authentication agent for PolicyKit-1
 The ukui-polkit package supports general authentication and
 biometric authentication that the service is provided by the
 biometric-auth package.
